<% if !article.published? && article.published_from_feed? && !article.user&.feed_admin_publish_permission? %>
  <%= link_to 'Edit this article', edit_article_url(article) %>
<% end %>

<% unless (allowed? :some, "extra") || article.exists? || article.started_at.nil? || article.published_at <= Time.current %>
  <p>...</p>
<% end %>
